#topbar
{
background-color:#1F1F1F;
height:10px;
width:100%;
}
#container
{
width:80%;
margin:0px auto;
}
#header
{
height:100px;
background-color:white;
}
#header img
{
height:100px;
width:25%;
margin-top:5px;
}
#header ul
{
float:right;
margin-top:45px;
}
#header ul li
{
display:inline;
margin-right:55px;
}
#header ul li a
{
color:white;
text-decoration:none;
font-size:18px;
background-color:black;
padding:4px;
}
#banner img
{
width:100%;
padding-bottom:20px;
margin-top:10px;
}
#content1
{
width:32%;
height:300px;
background-color:red;
float:left;
margin-right:2%;
}
#content2
{
width:32%;
height:300px;
background-color:orange;
float:left;
}
#content3
{
width:32%;
height:300px;
background-color:lightgreen;
float:right;
}
.heading
{
color:white;
margin-left:15px;
font-size:30px;
margin-bottom:5px;
}
.p1
{
color:white;
margin-left:20px;
margin-right:7px;
font-size:20px;
}
.a1
{
text-decoration:none;
color:black;
background-color:white;
margin-left:20px;
padding:8px;
}
.p2
{
Color:darkred;
font-size:25px;
padding-top:10px;
}
.li1
{
color:white;
margin-top:8px;
font-size:20px;
}
#endbar
{
background-color:black;
width:100%;
height:40px;
clear:both;
}
.me
{
color:white;
padding-left:37%;
padding-top:5px;
font-size:30px;
}
